@import "../inc";

$ratioList: (
    (1, 2),
    (2, 3),
    (3, 4),
    (4, 5),
    (5, 6),
    (6, 7),
    (9, 16)
);
.ratio-1-1 {
  @include aspect-ratio(1, 1);
}

@each $ratio in $ratioList {
  $w: nth($ratio, 1);
  $h: nth($ratio, 2);
  .ratio-#{$w}-#{$h} {
    @include aspect-ratio($w, $h)
  }
  .ratio-#{$h}-#{$w} {
    @include aspect-ratio($h, $w)
  }
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}
