{
  "presets": [
    "env",
    "vue-app",
    "stage-2",
    "flow",
    "react"
  ],
  "plugins": [
    "jsx-v-model",
    "jsx-event-modifiers",
    "transform-vue-jsx",
    "jsx-vue-functional"
  ]
}
