# Created by .ignore support plugin (hsz.mobi)
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
cmake-build-debug/
cmake-build-release/
.idea/**/mongoSettings.xml
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/httpRequests
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
node_modules/
jspm_packages/
typings/
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env
.next
.DS_Store
.cache-loader/
assets/.DS_Store
static/.DS_Store
static/dist/.DS_Store
static/dist/reviews-collection-4030496793.json
static/dist/reviews-collection-436454540.json
static/dist/reviews-collection-436456524.json
static/dist/reviews-collection-436513356.json
static/dist/reviews-collection-436514700.json
static/dist/reviews-collection-436517004.json
static/dist/reviews-collection-436517068.json
static/dist/reviews-collection-436561868.json
static/dist/reviews-collection-437338124.json
static/dist/reviews-collection-438184332.json
static/dist/reviews-collection-438184716.json
static/dist/reviews-collection-439886092.json
static/dist/reviews-collection-56371052613.json
static/dist/reviews-collection-56517754949.json
static/dist/reviews-collection-56517787717.json
static/dist/reviews-collection-56517951557.json
static/dist/reviews-collection-56517984325.json
static/dist/reviews-collection-56518049861.json
static/dist/reviews-collection-56518279237.json
static/dist/reviews-collection-56518312005.json
static/dist/reviews-collection-56518344773.json
static/dist/reviews-collection-56518377541.json
static/dist/reviews-collection-56518410309.json
static/dist/reviews-collection-56518475845.json
static/dist/reviews-collection-876314649.json
static/dist/reviews-collection-undefined.json
static/dist/reviews-index.json
typing/
/static/dist/
static/dist/reviews-collection-3620372505.json
static/dist/reviews-collection-436513740.json
static/dist/reviews-collection-436515596.json
static/dist/reviews-collection-436574540.json
static/dist/reviews-collection-56377507909.json
static/dist/reviews-collection-56517722181.json
static/dist/reviews-collection-56517853253.json
static/dist/reviews-collection-56517918789.json
static/dist/reviews-collection-56531943493.json
static/dist/reviews-collection-56531976261.json
static/dist/reviews-collection-56532041797.json
static/dist/reviews-collection-56532074565.json
static/dist/reviews-collection-56532140101.json
static/dist/reviews-collection-56532435013.json
static/dist/reviews-collection-56536956997.json
static/dist/reviews-collection-56538824773.json
static/dist/reviews-collection-56539381829.json
static/dist/reviews-collection-56539447365.json
static/dist/reviews-collection-56539545669.json
static/dist/reviews-collection-56539578437.json
static/dist/reviews-collection-56543215685.json
static/dist/reviews-collection-56543313989.json
static/dist/reviews-collection-56543412293.json
static/dist/reviews-collection-56552554565.json
static/dist/reviews-collection-56552849477.json
static/dist/reviews-collection-56552882245.json
static/dist/reviews-collection-56552915013.json
static/dist/reviews-collection-56558878789.json
static/dist/reviews-collection-587956249.json
yarn.lock
