.index-collections
  .collection-item(v-for="(col,index) in collections", :class="index<3?'collection-big':'collection-small'")
    .ratio-1-1
      .content
        img.img-fluid(:src="col.image | shopifyImgUrl")
      .content.collection-detail
        div
          a(:href="col.url")
            h4.pb-2(:class="$style.title") {{col.title}}
