div(:class="$style.imagePair" @mouseover="hover", @mouseleave="leave")
  transition(name="fade")
    .d-flex.align-items-end(:class="$style.pair", v-if="!hover", :key="loadeds[0]")
      img.img-fluid(:src="loadeds[0]")
    .d-flex.align-items-end(:class="$style.pair", v-else, :key="loadeds[1]")
      img.img-fluid(:src="loadeds[1]")
