 <style type="text/css">
      section { text-align: center; }
   .buttons{margin:40px;}
 
    </style>

      {{ 'jquery.panzoom.js' | asset_url | script_tag }}

 
 
    <section id="pan-when-zoomed">
   
      <div class="parent">
        <div class="panzoom">
          <img src="https://cdn.shopify.com/s/files/1/1620/0633/products/image2_1024x1024.png?v=1480571216" width="150" height="150">
        </div>
      </div>
      <div class="buttons">
        <button class="zoom-in">Zoom In</button>
        <button class="zoom-out">Zoom Out</button>
       <input type="range" class="zoom-range" step="1" min="1" max="6">
        <button class="reset">Reset</button>
      </div>
   
    </section>
     <script>
        (function() {
          var $section = $('#pan-when-zoomed');
          $section.find('.panzoom').panzoom({
            $zoomIn: $section.find(".zoom-in"),
            $zoomOut: $section.find(".zoom-out"),
            $zoomRange: $section.find(".zoom-range"),
            $reset: $section.find(".reset"),
            panOnlyWhenZoomed: true,
            minScale: 1
          });
        })();
      </script>